<div class="page-foot">
  <div class="copyright">
    &copy; {{ fill author }}. {{isnotpage /tag/*}}Last modified: {{ fill fd_mtime }}.{{end}} Website built with <a href="https://github.com/tlienart/Franklin.jl">Franklin.jl</a> and the <a href="https://julialang.org">Julia programming language</a>.
    Credit to Thibaut Lienart. All photos are from Unsplash.
  </div>
</div>
